<!DOCTYPE html>
<html>
  <head>
    <title>NapApp</title>
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 data-shadow="NapSpots">NapSpots</h1>

    <!-- <p>Share your nooks and cranny's around the city</p> -->
    <br />
    <a href="/locations">View All Locations</a>
  </body>
</html>
