<%- include ("./partials/header") %>

<h1>Welcome to Nap Spots</h1>

<p>Share your nooks and cranny's around the city</p>

<a href="/locations">View All Locations</a>

<%- include ("./partials/footer") %>
